<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Butcherman" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <title><%= title %></title>
    
  <nav class="sidebar">
    <ul class="sidebar-nav">
      <li class="side-item"><a href="#home-section" class="side-link">
        <i class="bi bi-house">
        </i>
      </a></li>
      <li class="side-item"><a href="/players" class="side-link">
        <i class="bi bi-collection"></i>
      </a></li>
      <li class="side-item"><a href="#team-section" class="side-link">
        <i class="bi bi-code"></i>
      </a></li>
      <li class="side-item"><a href="" class="side-link">
        <i class="bi bi-chat-right-dots"></i>
      </a></li>
      <li class="side-item"><a href="/users/login" class="side-link">
        <i class="bi bi-person-circle"></i>
      </a></li>
    </ul>
  </nav>
    <main>
        <section id="home-section">
          <div class="wraper">
            <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        
        <div id="moon">
          <ul>
            <li>
            <li class= "hide23">
            <li class= "hide23" >
            <li class="hide">
            <li class="hide">
              <li class="hide">
          </ul>
        </div>
        
        
        </div>
        <div class="title">
         <h1>
          wellcome to the game player
         </h1>
        </div>
        <div class="button-container">
          <div class="trigger"></div>
          <button class="pay-now">
            <span class="pay-now__text">play now</span>
          </button>
          <div class="ghost">
            <span class="ghost__head">
              <div class="ghost__eyes">
                <span class="ghost__eye"></span>
                <span class="ghost__eye"></span>
              </div>
              <div class="ghost__mouth"></div>
            </span>
            <span class="ghost__body"></span>
            <div class="ghost__arms">
              <span class="ghost__arm ghost__arm--left"></span>
              <span class="ghost__arm ghost__arm--right"></span>
            </div>
            <div class="ghost__speach">
              <p class="ghost__text">Boo!!!</p>
            </div>
          </div>
        </div>
        </section>
        <section id="team-section">
          <div class="title-card">
            <h1> Meet the creators</h1>
            <p> Hover over the card  . </p>
          </div>
          <!-- // title end -->
          
          <div class="container-c">
            
             <!-- FLIP CARD 1 START -->
            <div class="flip-card">
              <div class="inner">
                <div class="front">
                  <img src="https://bit.ly/3635Esj">
                </div>
                <!-- // front end -->
          
                <div class="back">
                  <div class="back-header">
                    <img src="https://bit.ly/31HF9Wb" />
                  </div>
                  <!-- //back-header end -->
                  <div class="back-footer">
                    <h2>jenish A Kubavat</h2>
                    <p>Samhainophobia stands for the fear of Halloween</p>
                    <div class="star-rating">
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                    </div>
                    <a href=""><i class="bi bi-instagram"></i></a><a href=""><i class="bi bi-github"></i></a><a href=""><i class="bi bi-twitter"></i></a>
                  </div>
                  <!-- //back-footer end -->
                </div>
                <!-- //back -->
          
              </div>
              <!-- //inner end -->
            </div>
            <!-- //flip-card end -->
          
            <!-- FLIP CARD 2 START -->
            <div class="flip-card">
              <div class="inner">
                <div class="front">
                  <img src="https://bit.ly/33YgApr">
                </div>
                <!-- // front end -->
          
                <div class="back">
                  <div class="back-header">
                    <img src="https://bit.ly/35TNkSB" />
                  </div>
                  <!-- //back-header end -->
                  <div class="back-footer">
                    <h2>Mihir patel</h2>
                    <p>The first Jack O’Lanterns were actually made from turnips.</p>
                    <div class="star-rating">
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                    </div>
                    <a href=""><i class="bi bi-instagram"></i></a><a href=""><i class="bi bi-github"></i></a><a href=""><i class="bi bi-twitter"></i></a>
                      
               
                  </div>
                  <!-- //back-footer end -->
                </div>
                <!-- //back -->
          
              </div>
              <!-- //inner end -->
            </div>
            <!-- //flip-card end -->
          
            <!-- FLIP CARD 3 START -->
            <div class="flip-card">
              <div class="inner">
                <div class="front">
                  <img src="https://bit.ly/2pPTG4A">
                </div>
                <!-- // front end -->
          
                <div class="back">
                  <div class="back-header">
                    <img src="https://bit.ly/33ZZqrB" />
                  </div>
                  <!-- //back-header end -->
                  <div class="back-footer">
                    <h2>Witches</h2>
                    <p>The word “witch” comes from the Old English wicce, meaning “wise woman.” </p>
                    <div class="star-rating">
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                    </div>
                    <a href=""><i class="bi bi-instagram"></i></a><a href=""><i class="bi bi-github"></i></a><a href=""><i class="bi bi-twitter"></i></a>
          
                  </div>
                  <!-- //back-footer end -->
                </div>
                <!-- //back -->
          
              </div>
              <!-- //inner end -->
            </div>
            <!-- //flip-card end -->
          
          </div>
          <!-- //container -->
        </section>
        <section id="contact-us">
          <div class="cu-waraper">
            <h2>CONTACT US</h2>
    <form action="" method="POST">
      <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" name="Name" id="name" placeholder="First and Last" required minlength="3" maxlength="25" />
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" name="Email" id="email" placeholder="email@domain.tld" required />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea name="Message" id="message" rows="5" placeholder="Type your message here...."></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="submit"><i class="bi bi-paper-plane"></i>Send</button>
      </div>
    </form>
          </div>
          <div class="f-wapper">
            <div class="ground-cont">
              <div class="ground-third"></div>
              <div class="stones3" style="left: 42%;top: 2%; transform: rotate(-6deg);"></div>
              <div class="cross3" style=" left: 48%; top: 1%; transform: rotate(-6deg);"></div>
              <div class="stones3" style=" left: 52%; transform: rotate(9deg) scale(0.9); top: 0;"></div>
              <div class="cross3" style=" left: 58%; transform: rotate(6deg) scale(0.8);"></div>
            
              <div class="ground-second"></div>
            
              <div class="stones2" style="left: 5%;top: 3%; transform: rotate(14deg);"></div>
              <div class="cross2" style=" left: 12%; top: 8%; transform: rotate(-6deg);"></div>
              <div class="stones2" style="left: 20%;top: 14%; transform: rotate(14deg) scale(0.8);"></div>
              <div class="cross2" style=" left: 33%; top: 19%; transform: rotate(0deg);"></div>
              <div class="stones2" style="left: 39%;top: 21%; transform: rotate(-5deg) scale(0.9);"></div>
              <div class="cross2" style=" left: 50%; top: 25%; transform: rotate(9deg) scale(1.2);"></div>
              <div class="cross2" style=" left: 64%; top: 28%; transform: rotate(-9deg) scale(1);"></div>
              <div class="stones2" style="left: 75%;top: 23%; transform: rotate(-10deg) scale(1.1);"></div>
              <div class="stones2" style="left: 82%;top: 23%; transform: rotate(2deg) scale(0.85);"></div>
              <div class="cross2" style=" left: 93%; top: 19%; transform: rotate(0deg) scale(1);"></div>
            
              <div class="ground-first"></div>
              <div class="eyes"></div>
              <div class="stones1" style="left: 10%;top: 24%; transform: rotate(-9deg);"></div>
              <div class="stones1" style="left: 17%;top: 27%; transform: rotate(10deg);"></div>
              <div class="cross1" style=" left: 28%; top: 34%; transform: rotate(-4deg) scale(1.1);"></div>
              <div class="cross1" style=" left: 38%; top: 38%; transform: rotate(6deg) scale(1.1);"></div>
              <div class="stones1" style="left: 46%;top: 38%; transform: rotate(-2deg);"></div>
              <div class="stones1" style="left: 58%;top: 38%; transform: rotate(-14deg);"></div>
              <div class="cross1" style=" left: 71%; top: 38%; transform: rotate(4deg);"></div>
              <div class="stones1" style="left: 78%;top: 36%; transform: rotate(-12deg) scale(0.9);"></div>
              <div class="cross1" style=" left: 88%; top: 35%; transform:rotate(-9deg) scale(1.1);"></div>
            </div>
          </div>
        </section>
    </main>
</head>
<body>
    <!-- SCRIPS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 
    <script src="/js/bootstrap.js"></script>  
   <script src="/javascripts/script.js"></script>
   
</body>
</html>