@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(./background.css);
@import url(./team-section.css);
@import url(./contact_us.css);

:root{
  font-size: 16px;
  --text-primary:#f8f8f2;
  --text-secondary:#bd93f9;
  --bg-primary:#282a36;
  --bg-secondary:#44475a;
  --red:#ff5555;
  --Orange:#ffb86c;
}
body {
  background-color:var(--bg-primary);
  color:var(--text-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-size:1rem;
font-family: 'Oxygen', sans-serif;


}

body::-webkit-scrollbar{
  width: 0.25rem;

}
body::-webkit-scrollbar-track{
  background-color: var(--bg-secondary);

}
body::-webkit-scrollbar-thumb{
  color: var(--red);

}
section{
  margin: 0;
  padding: 0;
}

main{
  margin-left: 5rem;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Bevan';
}
h1{
  font-size:6.063rem;
  letter-spacing:-1.5px;
}
h2{
  font-size:3.813rem;
  letter-spacing:-0.5px;
}
h3{
  font-size:3rem;
  letter-spacing:0;
}
/* side bar */
.sidebar{
  position: fixed;
  background-color:#000;
  transition: width 600ms ease;
  z-index: 100000;
  
}
.sidebar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;


}

.nav-item{
  width: 100%;
}
.nav-item:last-child{
  margin-top: auto;

}
.nav-link{
  display: flex;
  align-items: center;
  height:5rem;
  transition:var(--transition-speed);
  justify-content: center;
}


.nav-link i{
  color:var(--text-primary);
  font-size: 2rem ;
  margin: 1.5rem;
 
}
.dropdown-toggle >ul ,li {
  width:fit-content !important;
}
.dropdown-menu{
  min-width: 0;
  background-color:var(--bg-secondary);

}
.dropdown-item{
  display: flex;
  width:fit-content;
    align-items:center;
    justify-content: center;
    text-align: center;
    
}
.dropdown-item i {
  font-size:1.2rem;
  color:var(--text-secondary);
  margin: 1rem ;
}

.nav-link:hover i  {
  transition:var(--transition-speed);
  color:var(--text-secondary);
}


#home-section{
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content:center;
 
}
.title{
  margin: 0;
  padding: 0;
display: flex;
align-items: center;
vertical-align: middle;
position: absolute;
top: 30%;

}
 .title h1{
  width: 100%;
  background: -webkit-linear-gradient(var(--Orange), var(--red));
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}




/* BUTTON */
.button-container {
  position: absolute;
  display: inline-block;
  top:80%;
}
.button-container .trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(2) scaleY(4);
}
.button-container .trigger:hover ~ .ghost {
  transform: translateX(75px) translateY(-6px) scaleY(1.25) scaleX(1.25);
}
.button-container .trigger:hover ~ .ghost .ghost__eye::after {
  -webkit-animation: eyes-move-left-right 1s ease-in infinite;
          animation: eyes-move-left-right 1s ease-in infinite;
}

.pay-now {
  -webkit-appearance: none;
  border: none;
  background-color: var(--bg-primary);
  box-shadow: none;
  display: flex;
  align-items: center;
  outline-color: var(--bg-primary);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
}
.pay-now::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: var(--bg-secondary);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  will-change: transform;
}
.pay-now__text {
  color:var(--text-primary);
  padding: 10px 30px;
  font-size: 18px;
  display: block;
  font-family: 'Oxygen',sans-serif;
  font-weight:600;
  letter-spacing: 1.25px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.pay-now:hover::before {
  transform: translateX(0);
}
.pay-now:hover .pay-now__text {
  color: var(--text-secondary);
}
.pay-now:hover + .ghost {
  transform: translateX(75px) translateY(-50px) scaleY(1.7) scaleX(1.7);
}
.pay-now:hover + .ghost .ghost__eye {
  transform: scaleY(0.1) scaleX(0.8);
  border-radius: 0px;
}
.pay-now:hover + .ghost .ghost__eye::after {
  opacity: 0;
}
.pay-now:hover + .ghost .ghost__arm--left {
  -webkit-animation: left-arm-wiggle 0.5s ease-in-out infinite;
          animation: left-arm-wiggle 0.5s ease-in-out infinite;
}
.pay-now:hover + .ghost .ghost__arm--right {
  -webkit-animation: right-arm-wiggle 0.5s ease-in-out infinite;
          animation: right-arm-wiggle 0.5s ease-in-out infinite;
}
.pay-now:hover + .ghost .ghost__mouth {
  transform: translate(-30%, -2.5px) scaleX(1);
}
.pay-now:hover + .ghost .ghost__speach {
  transform: translate(-50%, -95%);
  opacity: 1;
}

.ghost {
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 30%;
  transform: translateX(75px) translateY(0) scaleY(0.3) scaleX(1);
  transition: transform 0.15s ease-in-out;
  left: 2px;
}
.ghost__head {
  position: relative;
  width: 100%;
  display: block;
}
.ghost__eyes {
  width: 75%;
  height: 20px;
  position: absolute;
  z-index: 3;
  left: 30%;
  transform: translate(-50%, 10px);
  display: flex;
  justify-content: space-between;
}
.ghost__eye {
  display: block;
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  transition: 0.3s ease-in-out;
  transform: scaleY(1) scaleX(1);
}
.ghost__eye::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity:  1;
  transition: opacity 0.3s ease;
}
.ghost__mouth {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 30px;
  left: 25px;
  z-index: 3;
  border-radius: 50%;
  transform: translate(-50%, 0) scaleX(1.5);
  transition: transform 0.2s ease-in-out;
}
.ghost__body {
  width: 100%;
  height: 60px;
  display: block;
  background-color: white;
  position: relative;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  z-index: 2;
  border: 2px solid black;
}
.ghost__arms {
  width: 100%;
  position: relative;
}
.ghost__arm {
  display: block;
  width: 40%;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 0%;
  transform-origin: top center;
  z-index: 1;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.ghost__arm--left {
  left: 0;
  transform: translateY(-100%) rotate(0deg);
}
.ghost__arm--right {
  right: 0;
  transform: translateY(-100%) rotate(0deg);
}
.ghost__speach {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translate(-50%, -55%);
  padding: 0px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.ghost__speach::after {
  content: "";
  border: 8px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.9);
  border-left-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  right: 25px;
  transform: translateY(99%);
}
.ghost__text {
  font-size: 16px;
  font-family: "Rock Salt", cursive;
  color: red;
}

@-webkit-keyframes eyes-move-left-right {
  0% {
    transform: translate(-90%, -50%);
  }
  50% {
    transform: translate(20%, -50%);
  }
  100% {
    transform: translate(-90%, -50%);
  }
}

@keyframes eyes-move-left-right {
  0% {
    transform: translate(-90%, -50%);
  }
  50% {
    transform: translate(20%, -50%);
  }
  100% {
    transform: translate(-90%, -50%);
  }
}
@-webkit-keyframes left-arm-wiggle {
  0% {
    transform: translateY(-100%) rotate(150deg);
  }
  25% {
    transform: translateY(-100%) rotate(130deg);
  }
  50% {
    transform: translateY(-100%) rotate(150deg);
  }
  75% {
    transform: translateY(-100%) rotate(130deg);
  }
  100% {
    transform: translateY(-100%) rotate(150deg);
  }
}
@keyframes left-arm-wiggle {
  0% {
    transform: translateY(-100%) rotate(150deg);
  }
  25% {
    transform: translateY(-100%) rotate(130deg);
  }
  50% {
    transform: translateY(-100%) rotate(150deg);
  }
  75% {
    transform: translateY(-100%) rotate(130deg);
  }
  100% {
    transform: translateY(-100%) rotate(150deg);
  }
}
@-webkit-keyframes right-arm-wiggle {
  0% {
    transform: translateY(-100%) rotate(-150deg);
  }
  25% {
    transform: translateY(-100%) rotate(-130deg);
  }
  50% {
    transform: translateY(-100%) rotate(-150deg);
  }
  75% {
    transform: translateY(-100%) rotate(-130deg);
  }
  100% {
    transform: translateY(-100%) rotate(-150deg);
  }
}
@keyframes right-arm-wiggle {
  0% {
    transform: translateY(-100%) rotate(-150deg);
  }
  25% {
    transform: translateY(-100%) rotate(-130deg);
  }
  50% {
    transform: translateY(-100%) rotate(-150deg);
  }
  75% {
    transform: translateY(-100%) rotate(-130deg);
  }
  100% {
    transform: translateY(-100%) rotate(-150deg);
  }
}

#contact-us{
  position: relative;
  top: 200vh;
}
@media screen and (min-width: 600px) {
  .sidebar{
    top:0;
    width:5rem;
    height:100vh;
  }
  
}
@media screen  and (max-width:600px){
  :root {
    font-size:8px;
  }
  .sidebar{
    bottom:0;
    width: 100vw;
    height: 5rem;

  }
  .sidebar-nav{
    flex-direction: row;

  }
  .side-link{
    justify-content: center;

  }
 
  main{
    margin: 0;

  }
}




@media screen  and (max-width:400px){
 
  
}